---
---

@import "variables";

body, div {
    margin: 0;
    padding: 0;
    border: 0;
    color: $text-color;
    background-color: $background-color;
}

body > div.post {
    display: block;
    float: left;
    clear: both;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: $humongous-font-size;
    margin-bottom: .5em;
}
p {
    font-size: $font-size;
    margin-bottom: 2.25em;
}
ul, ol {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1.5em;
}
@media (max-width: 800px) {
    div.post {
        width: 90%;
        padding: 0 5% 0 5%;
    }
}
a:hover {
    text-decoration: underline;
}
.welcome {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-family: "Times New Roman",Times,serif;
    margin-bottom: 0;
    text-align: center;
}
.description {
    font-size: 2em;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 0.4em;
}
.links {
    font-family: monospace;
    font-size: 1.4em;
    text-align: center;
}
.links a {
    margin-left: .5em;
    padding: .4em .8em;
    background-color: #222222;
    color: #eeeeee;
    text-decoration: none;
}
@media (max-width: 800px) {
    .description {
        font-size: 1.5em;
    }
    .links {
        font-size: 1.2em;
    }
}
@media (max-width: 400px) {
    .description {
        font-size: 1em;
    }
    .links {
        font-size: 1em;
    }
}

p.tag {
  margin-top: $large-space;
  margin-bottom: 0;
}

h1, h2 {
    font-family: $title-font-family;
}
span.date, span.tag {
    display: inline-block;
    background-color: $title-background-color;
    text-transform: lowercase;
    font-family: $technic-font-family;
    color: $title-color;
    padding: $cell-space-vertical $cell-space-horizontal;
    margin-right: $cell-space-vertical;
    margin-bottom: $cell-space-vertical;
}
div.even {
    background-color: $highlight-background-color;
}
div.even span.tag {
    background-color: $background-color;
    color: $text-color;
}
div.odd span.tag {
    /*background: url("pattern3.png") repeat fixed 0 0;*/
    background-color: #eeeeee;
    color: black;
}
a {
    color: black;
}
p.logo a {
    font-size: 1.5em;
    font-family: serif;
}
h1 a {
    text-decoration: none;
}
p.logo img {
    max-width: 100%;
}

p.search {
    text-align: center;
    font-size: 1.5em;
    font-family: "Times New Roman",Times,serif;
    letter-spacing: 0.05em;
}
.search label {
    margin-right: 1em;
}
.search input {
    width: 50%;
    font-size: 1em;
    height: 1.2em;
}
