@charset "UTF-8"; 

body {
    margin-top: $space;
    margin-bottom: 0;
    margin-left: $space;
    margin-right: $space;
    padding: 0;
    border: 0;
    color: $text-color;
    background-color: $background-color;
    font-family: $reading-font-family;
}
body > * {
  line-height: $line-height;
  margin: 0 0 $space 0;
}
pre {
  padding: 1em;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
  max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;
}

p.header {
  font-family: $technic-font-family;
}
p.header span,
p.header a {
  display: inline-block;
  text-transform: lowercase;
  padding: $cell-space-vertical $cell-space-horizontal;
}
p.home {
  border-top: 1px dotted $link-color;
  padding-top: .5em;
}

p.header img {
  height: 1em;
}

span.date {
  background-color: $link-color;
  color: $background-color;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3, h4, h5, h6 {
  font-size: 1.2em;
}
h4::before {
  content:"• ";
}
h5::before {
  content:"• • ";
}
h6::before {
  content:"• • • ";
}