/*.highlighter-rouge .hll { background-color: #404040 }*/
.highlighter-rouge .c { color: #999999; font-style: italic } /* Comment */
.highlighter-rouge .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlighter-rouge .g { color: #d0d0d0 } /* Generic */
.highlighter-rouge .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlighter-rouge .l { color: #d0d0d0 } /* Literal */
.highlighter-rouge .n { color: #d0d0d0 } /* Name */
.highlighter-rouge .o { color: #d0d0d0 } /* Operator */
.highlighter-rouge .x { color: #d0d0d0 } /* Other */
.highlighter-rouge .p { color: #d0d0d0 } /* Punctuation */
.highlighter-rouge .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlighter-rouge .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlighter-rouge .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlighter-rouge .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlighter-rouge .gd { color: #d22323 } /* Generic.Deleted */
.highlighter-rouge .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlighter-rouge .gr { color: #d22323 } /* Generic.Error */
.highlighter-rouge .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlighter-rouge .gi { color: #589819 } /* Generic.Inserted */
.highlighter-rouge .go { color: #cccccc } /* Generic.Output */
.highlighter-rouge .gp { color: #aaaaaa } /* Generic.Prompt */
.highlighter-rouge .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlighter-rouge .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlighter-rouge .gt { color: #d22323 } /* Generic.Traceback */
.highlighter-rouge .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlighter-rouge .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlighter-rouge .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlighter-rouge .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlighter-rouge .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlighter-rouge .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlighter-rouge .ld { color: #d0d0d0 } /* Literal.Date */
.highlighter-rouge .m { color: #3677a9 } /* Literal.Number */
.highlighter-rouge .s { color: #ed9d13 } /* Literal.String */
.highlighter-rouge .na { color: #bbbbbb } /* Name.Attribute */
.highlighter-rouge .nb { color: #24909d } /* Name.Builtin */
.highlighter-rouge .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlighter-rouge .no { color: #40ffff } /* Name.Constant */
.highlighter-rouge .nd { color: #ffa500 } /* Name.Decorator */
.highlighter-rouge .ni { color: #d0d0d0 } /* Name.Entity */
.highlighter-rouge .ne { color: #bbbbbb } /* Name.Exception */
.highlighter-rouge .nf { color: #447fcf } /* Name.Function */
.highlighter-rouge .nl { color: #d0d0d0 } /* Name.Label */
.highlighter-rouge .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlighter-rouge .nx { color: #d0d0d0 } /* Name.Other */
.highlighter-rouge .py { color: #d0d0d0 } /* Name.Property */
.highlighter-rouge .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlighter-rouge .nv { color: #40ffff } /* Name.Variable */
.highlighter-rouge .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlighter-rouge .w { color: #666666 } /* Text.Whitespace */
.highlighter-rouge .mf { color: #3677a9 } /* Literal.Number.Float */
.highlighter-rouge .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlighter-rouge .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlighter-rouge .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlighter-rouge .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlighter-rouge .sc { color: #ed9d13 } /* Literal.String.Char */
.highlighter-rouge .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlighter-rouge .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlighter-rouge .se { color: #ed9d13 } /* Literal.String.Escape */
.highlighter-rouge .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlighter-rouge .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlighter-rouge .sx { color: #ffa500 } /* Literal.String.Other */
.highlighter-rouge .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlighter-rouge .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlighter-rouge .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlighter-rouge .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlighter-rouge .vc { color: #40ffff } /* Name.Variable.Class */
.highlighter-rouge .vg { color: #40ffff } /* Name.Variable.Global */
.highlighter-rouge .vi { color: #40ffff } /* Name.Variable.Instance */
.highlighter-rouge .il { color: #3677a9 } /* Literal.Number.Integer.Long */
