---
---

@import "variables";

body {
    margin: 1em;
    padding: 0;
    border: 0;
    color: $text-color;
    background-color: $background-color;
    font-family: $reading-font-family;
}

pre {
  background-color: $highlight-background-color;
}

code.hljs {
  background: transparent;
}

img {
  max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
}

p.header {
  font-family: $technic-font-family;
}
p.header span,
p.header a {
  display: inline-block;
  text-transform: lowercase;
  padding: $cell-space-vertical $cell-space-horizontal;
}
p.header img {
  height: 1em;
}

span.date {
  background-color: $highlight-background-color;
  color: $highligh-color;
}
