$text-color: #222222;
$background-color: #ffffff;

$highligh-color: #222222;
$highlight-background-color: #eeeeee;

$title-color: white;
$title-background-color: #1a1a1a;

$link-color: 	#0066cc;

$line-height: 1.3em;
$space: 1em;
$large-space: 1.5em;

$cell-space-vertical: .2em;
$cell-space-horizontal: .5em;

$humongous-font-size: 1.5em;
$large-font-size: 1.2em;
$font-size: 1em;

$reading-font-family: "Times New Roman", Times, serif;
$title-font-family: sans-serif;
$technic-font-family: monospace;
