$line-height: 1.3em;

$text-color: #222222;
$background-color: #ffffff;
$link-color: 	#0099cc;

$reading-font-family: "Times New Roman", Times, serif;
$technic-font-family: monospace;

$cell-space-vertical: .2em;
$cell-space-horizontal: .5em;
