/*.highlighter-rouge .hll { background-color: #222222 }*/
.highlighter-rouge .c { color: #000080 } /* Comment */
.highlighter-rouge .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.highlighter-rouge .g { color: #cccccc } /* Generic */
.highlighter-rouge .k { color: #cdcd00 } /* Keyword */
.highlighter-rouge .l { color: #cccccc } /* Literal */
.highlighter-rouge .n { color: #cccccc } /* Name */
.highlighter-rouge .o { color: #3399cc } /* Operator */
.highlighter-rouge .x { color: #cccccc } /* Other */
.highlighter-rouge .p { color: #cccccc } /* Punctuation */
.highlighter-rouge .cm { color: #000080 } /* Comment.Multiline */
.highlighter-rouge .cp { color: #000080 } /* Comment.Preproc */
.highlighter-rouge .c1 { color: #000080 } /* Comment.Single */
.highlighter-rouge .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.highlighter-rouge .gd { color: #cd0000 } /* Generic.Deleted */
.highlighter-rouge .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.highlighter-rouge .gr { color: #FF0000 } /* Generic.Error */
.highlighter-rouge .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlighter-rouge .gi { color: #00cd00 } /* Generic.Inserted */
.highlighter-rouge .go { color: #808080 } /* Generic.Output */
.highlighter-rouge .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlighter-rouge .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.highlighter-rouge .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlighter-rouge .gt { color: #0040D0 } /* Generic.Traceback */
.highlighter-rouge .kc { color: #cdcd00 } /* Keyword.Constant */
.highlighter-rouge .kd { color: #00cd00 } /* Keyword.Declaration */
.highlighter-rouge .kn { color: #cd00cd } /* Keyword.Namespace */
.highlighter-rouge .kp { color: #cdcd00 } /* Keyword.Pseudo */
.highlighter-rouge .kr { color: #cdcd00 } /* Keyword.Reserved */
.highlighter-rouge .kt { color: #00cd00 } /* Keyword.Type */
.highlighter-rouge .ld { color: #cccccc } /* Literal.Date */
.highlighter-rouge .m { color: #cd00cd } /* Literal.Number */
.highlighter-rouge .s { color: #cd0000 } /* Literal.String */
.highlighter-rouge .na { color: #cccccc } /* Name.Attribute */
.highlighter-rouge .nb { color: #cd00cd } /* Name.Builtin */
.highlighter-rouge .nc { color: #00cdcd } /* Name.Class */
.highlighter-rouge .no { color: #cccccc } /* Name.Constant */
.highlighter-rouge .nd { color: #cccccc } /* Name.Decorator */
.highlighter-rouge .ni { color: #cccccc } /* Name.Entity */
.highlighter-rouge .ne { color: #666699; font-weight: bold } /* Name.Exception */
.highlighter-rouge .nf { color: #cccccc } /* Name.Function */
.highlighter-rouge .nl { color: #cccccc } /* Name.Label */
.highlighter-rouge .nn { color: #cccccc } /* Name.Namespace */
.highlighter-rouge .nx { color: #cccccc } /* Name.Other */
.highlighter-rouge .py { color: #cccccc } /* Name.Property */
.highlighter-rouge .nt { color: #cccccc } /* Name.Tag */
.highlighter-rouge .nv { color: #00cdcd } /* Name.Variable */
.highlighter-rouge .ow { color: #cdcd00 } /* Operator.Word */
.highlighter-rouge .w { color: #cccccc } /* Text.Whitespace */
.highlighter-rouge .mf { color: #cd00cd } /* Literal.Number.Float */
.highlighter-rouge .mh { color: #cd00cd } /* Literal.Number.Hex */
.highlighter-rouge .mi { color: #cd00cd } /* Literal.Number.Integer */
.highlighter-rouge .mo { color: #cd00cd } /* Literal.Number.Oct */
.highlighter-rouge .sb { color: #cd0000 } /* Literal.String.Backtick */
.highlighter-rouge .sc { color: #cd0000 } /* Literal.String.Char */
.highlighter-rouge .sd { color: #cd0000 } /* Literal.String.Doc */
.highlighter-rouge .s2 { color: #cd0000 } /* Literal.String.Double */
.highlighter-rouge .se { color: #cd0000 } /* Literal.String.Escape */
.highlighter-rouge .sh { color: #cd0000 } /* Literal.String.Heredoc */
.highlighter-rouge .si { color: #cd0000 } /* Literal.String.Interpol */
.highlighter-rouge .sx { color: #cd0000 } /* Literal.String.Other */
.highlighter-rouge .sr { color: #cd0000 } /* Literal.String.Regex */
.highlighter-rouge .s1 { color: #cd0000 } /* Literal.String.Single */
.highlighter-rouge .ss { color: #cd0000 } /* Literal.String.Symbol */
.highlighter-rouge .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.highlighter-rouge .vc { color: #00cdcd } /* Name.Variable.Class */
.highlighter-rouge .vg { color: #00cdcd } /* Name.Variable.Global */
.highlighter-rouge .vi { color: #00cdcd } /* Name.Variable.Instance */
.highlighter-rouge .il { color: #cd00cd } /* Literal.Number.Integer.Long */
