body {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    border: 0;
    color: #222;
    background-color: #fff;
    font-family: "Times New Roman", Times, serif
}

body > * {
    line-height: 1.3em;
    margin: 0 auto 15px auto;
    max-width: 1300px;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

p.header {
    font-family: monospace
}

p.header span, p.header a {
    display: inline-block;
    text-transform: lowercase;
    padding: .2em .5em
}

p.header a:first-child {
    padding: .2em .5em .2em 0;
}