---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" type="text/css" href="{{ "/css/home.css" | prepend: site.baseurl }}"/>

    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/padding.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/home.js" | prepend: site.baseurl }}"></script>
</head>
<body>
  <div class="welcome">
      <p class="logo"><img src="{{ "/css/heuristics_full.png" | prepend: site.baseurl }}" alt="heuristics"/></p>
      <p class="description"><em>{{ site.description }}</em></p>
      <p class="signature">by <a href="">S.C.</a></p>
  </div>

  <p class="search">
      <label for="searchField">Search:</label><input id="searchField" type="text" />
  </p>

  {% for post in site.posts %}
  <div class="post {% cycle 'even', 'odd' %}">
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      <p class="tag">
          <span class="date">{{ post.date | date: "%Y.%m.%d %H:%M" }}</span>
          {% for tag in post.tags %}
              <span class="tag">{{ tag }}</span>
          {% endfor %}
      </p>
  </div>
  {% endfor %}
</div>
</body>
</html>
