---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="hKQ5m0AAIZO60stvHPsK4kSLi9FO7RGWtZdIgGAwzDo" />

    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" type="text/css" href="{{ "/css/home.css" | prepend: site.baseurl }}"/>

    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <!--script src="{{ "/js/jquery.mobile.touch.min.js" | prepend: site.baseurl }}"></script-->
    <script src="{{ "/js/padding.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/home.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/filter.js" | prepend: site.baseurl }}"></script>
</head>
<body>
  <div class="welcome">
      <p class="logo"><img src="{{ "/css/heuristics_full.png" | prepend: site.baseurl }}" alt="heuristics"/></p>
  </div>

  <p class="description"><em>A blog about programming and the pleasure of figuring things out.</em></p>
  <p class="links">
      <a href="http://cacoveanu.com" target="_blank">by S.D.C.</a>
      <a href="/2015/06/25/The-pleasure-of-figuring-things-out.html">About</a>
      <a href="/feed.xml" target="_blank">Subscribe</a>
  </p>

  {% for post in site.posts %}
  <div class="post {% cycle 'even', 'odd' %}">
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      <p class="tag">
          <span class="date">{{ post.date | date: "%Y.%m.%d %H:%M" }}</span>
          {% for tag in post.tags %}
              <span class="tag">{{ tag }}</span>
          {% endfor %}
      </p>
  </div>
  {% endfor %}
</div>
</body>
</html>
