<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 500 }}{% else %}{{ site.description }}{% endif %}">

    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" type="text/css" href="{{ "/css/googlecode.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/post.css" | prepend: site.baseurl }}"/>
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <!--script src="{{ "/js/padding.js" | prepend: site.baseurl }}"></script-->
    <script src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
    <p class="logo">
        <a class="home" href="/">
            <img src="{{ "/css/csd.png" | prepend: site.baseurl }}" alt="home page"/>
        </a>
    </p>
    <p class="tag">
        <span class="date">{{ page.date | date: "%Y.%m.%d %H:%M" }}</span>
        {% for tag in page.tags %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    </p>
    <h1 class="title">{{ page.title }}</h1>

    {{ content }}

</body>
</html>
